<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body>
        <h1>Webpack base</h1>
        <ul>
            <li>Run <b>npm install</b></li>
            <li>Profit</li>
        </ul>
    </body>
</html>