.headerRight{
    background-color: #474747;
    height:70px;

    &:before{
        position:absolute;
        height:70px;
        width: 23px;
        left:-23px;
        content:url("./headerShard.svg");
        transform: rotate(180deg);
    }
}