/* Antonio */
@font-face {
    font-family: 'Antonio';
    src: url('antonio/Antonio-Regular.eot');
    src: url('antonio/Antonio-Regular.eot?#iefix') format('embedded-opentype'),
        url('antonio/Antonio-Regular.woff2') format('woff2'),
        url('antonio/Antonio-Regular.woff') format('woff'),
        url('antonio/Antonio-Regular.ttf') format('truetype'),
        url('antonio/Antonio-Regular.svg#Antonio-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Antonio';
    src: url('antonio/Antonio-Bold.eot');
    src: url('antonio/Antonio-Bold.eot?#iefix') format('embedded-opentype'),
        url('antonio/Antonio-Bold.woff2') format('woff2'),
        url('antonio/Antonio-Bold.woff') format('woff'),
        url('antonio/Antonio-Bold.ttf') format('truetype'),
        url('antonio/Antonio-Bold.svg#Antonio-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Antonio';
    src: url('antonio/Antonio-Light.eot');
    src: url('antonio/Antonio-Light.eot?#iefix') format('embedded-opentype'),
        url('antonio/Antonio-Light.woff2') format('woff2'),
        url('antonio/Antonio-Light.woff') format('woff'),
        url('antonio/Antonio-Light.ttf') format('truetype'),
        url('antonio/Antonio-Light.svg#Antonio-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

/* Kelson Sans*/
@font-face {
    font-family: 'Kelson Sans';
    src: url('kelsonSans/KelsonSans-Bold.eot');
    src: url('kelsonSans/KelsonSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('kelsonSans/KelsonSans-Bold.woff2') format('woff2'),
        url('kelsonSans/KelsonSans-Bold.woff') format('woff'),
        url('kelsonSans/KelsonSans-Bold.ttf') format('truetype'),
        url('kelsonSans/KelsonSans-Bold.svg#KelsonSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Kelson Sans';
    src: url('kelsonSans/KelsonSans-Light.eot');
    src: url('kelsonSans/KelsonSans-Light.eot?#iefix') format('embedded-opentype'),
        url('kelsonSans/KelsonSans-Light.woff2') format('woff2'),
        url('kelsonSans/KelsonSans-Light.woff') format('woff'),
        url('kelsonSans/KelsonSans-Light.ttf') format('truetype'),
        url('kelsonSans/KelsonSans-Light.svg#KelsonSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Kelson Sans';
    src: url('kelsonSans/KelsonSans-Regular.eot');
    src: url('kelsonSans/KelsonSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('kelsonSans/KelsonSans-Regular.woff2') format('woff2'),
        url('kelsonSans/KelsonSans-Regular.woff') format('woff'),
        url('kelsonSans/KelsonSans-Regular.ttf') format('truetype'),
        url('kelsonSans/KelsonSans-Regular.svg#KelsonSans-Regular') format('svg');
    font-weight: lighter;
    font-style: normal;
}